.index-body {
    background-image: linear-gradient(to bottom, #623317, #58381d, #503c25, #483e2f, #423f39);
    font-family: 'Lato', sans-serif;
}

.add-body {
    background-image: linear-gradient(90deg, #623317, #58381d, #503c25, #483e2f, #423f39);
    font-family: 'Lato', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.topbar {
    text-align: center;
    width: 100%;
    color: white;
}

.add-wave {
    position: fixed;
    top: 100px;
    right: 0;
    border-radius: 25px;
    padding: 10px;
    background: rgba(198, 198, 198, 0.5);
    width: 60px;
    text-decoration: none;
}

.wave-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.wave-tile {
    padding: 10px;
    margin: 25px 25px;
    width: 30%;
    background-color: rgba(85, 107, 47, 0.3);
    border-radius: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px inset black;
}

.userformwrapper {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 90vh;
}

.userform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    background-color: rgba(85, 107, 47, 0.3);
    width: 60vw;
    height: 60vh;
    border-radius: 50px;
    border: 4px inset black;
}

.successMessage {
    color: green;
}

.failureMessage {
    color: red;
}

.wavegif {
    border-radius: 25px;
}

.nameofwave {
    font-size: 1.5rem;
    padding: 10px 0px 20px 0px;
    margin: 0;
    text-decoration: underline;
}
